/* ここから下に記載していく */
textarea{
    width :30%;
    height: 150px;
}



.output {
  width: 500px;
  /* display: block; */
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 8px;
  padding: 10px;
}